# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class

# C extensions
#*.so

# Dist
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
**/*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installers
pip-log.txt
pip-delete-this-directory.txt
pip-wheel-metadata/
Pipfile
Pipfile.lock
tmp

# Testing
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Environment vars
env
*.env

# Docs
docs/_build/

# Editors
.editorconfig
.idea
.vscode

# Development
.git
.gitignore
.pre-commit-config.yaml
.venv
.dockerignore
Dockerfile*

# OS
.DS_Store


